body {
    background-color: rgb(101, 134, 236);
}

.btn {
    border-color: rgb(101, 134, 236);
    color: white;
}
.card-body > .btn {
    background-color: white;
    color: rgb(101, 134, 236);
}
.btn:hover {
    border-color: rgb(72, 84, 100);
    background-color: rgb(101, 134, 236);
    color: white;
}

.land {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: #e6dcff;
}

.newsMain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsMain-head {
    font-weight: 600;
    font-size: 1.7em;
}

.newsMain-text {
    display: flex;
    margin-left: 5%;
    align-items: flex-start;
    justify-content: flex-start;
}

.stories {
    display: flex;
}

.head-logo {
    border-right: 2px solid rgb(101, 134, 236);
    padding-right: 1%;
}
.container-fluid {
    padding-left: 2%;
}
.nav-border {
    padding-right: 1%;
    border-right: solid 2px grey;
    min-width: 112.93px;
}
.navbar-collapse {
    margin-top: -0.22%;
}

.cont-cards {
    margin-left: 10%;
    margin-right: 10%;
}
.cont-cards > h3 {
    margin-bottom: 3%;
}
.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about {
    padding-left: 6%;
    padding-right: 6%;
    margin-bottom: 6%;
    margin-left: 4%;
    margin-right: 4%;
}
.about > h3 {
    margin-bottom: 3%;
}
.about-img {
    width: 50%;
    display: block;
}
.about-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about-cont > div {
    margin-left: 2%;
}

.footer {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: rgb(72, 84, 100);
    justify-content: space-between;
}

.footer-in {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
    padding-right: 2%;
}
.footer-in > a {
    margin: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-decoration: none;
    color: white;
}
.footer-log {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
}
.footer-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 32%;
}

.d-block {
    margin-left: 17.3%;
    margin-right: 17.3%;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 37%;
}

.carousel-caption {
    top: 69%;
    background-color: rgba(61, 110, 221, 255);
    border-radius: 20px;
    padding: 2%;
}
.carousel-item {
    height: 480px;
}

.trending {
    margin-bottom: 6%;
    background-color: rgb(72, 84, 100);
    padding: 6%;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 20px;
}
.trend-cont > img {
    width: 50%;
    border-radius: 10px;
}
.trend-cont > div {
    margin-left: 2%;
    color: white;
}
.trending > h3 {
    margin-bottom: 3%;
}
.trend-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 30%;
}
.form > input {
    width: 100%;
    margin: 2%;
    padding: 1%;
    padding-left: 2%;
    border-radius: 10px;
    border: 0px;
    background-color: white;
    color: rgb(72, 84, 100);
}
.form > button {
    width: 40%;
    background-color: white;
    color: rgb(72, 84, 100);
    border-radius: 10px;
    border: 0px;
    padding: 2%;
    margin: 2%;
    font-size: larger;
}
.form > button:hover {
    background-color: rgb(101, 134, 236);
    color: rgb(72, 84, 100);
}
