.btn {
    border-color: #457b9d;
    color: white;
}

.btn:hover {
    background-color: #457b9d;
}

.loggo {
    margin-right: 5%;
    margin-bottom: 4%;
}

.nav-border {
    padding-right: 1%;
    border-right: solid 2px gray;
    min-width: 112.93px;
}

.nav-links {
    font-size: 15px;
}

/*footer*/
footer{
    box-shadow: 0px 3px 65px 0px rgba(0,0,0,0.2);
    background-color: white;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: darkblue;
    font-size: 30px;
}
footer p{
    color: darkblue;
    font-size: 20px;
}
footer h2{
    font-size: 50px;
    color: black;
    padding: 50px;
}
footer .pages{
    padding: 10px;
}
footer .pages a{
    font-size: 20px;
    color:black;
    padding:10px;
}
footer h3{
    font-size:30px;
    color: blue;
}
footer .pages a:hover{
    font-size: 20px;
    color:orangered;
    transition: 0.5s;
}
hr{
    color:gray;
}
footer .follow a{
    font-size: 30px;
    color:skyblue;
    padding:10px;
}
footer .follow a:hover{
    font-size: 30px;
    color:orangered;
    transition: 0.5s;
}
footer .contact a{
    font-size: 30px;
    color:skyblue;
    padding:10px;
}
footer .contact a:hover{
    font-size: 30px;
    color:orangered;
    transition: 0.5s;
}
